{% extends './base.html' %}

{% block title %}Notes App - Edit Notes{% endblock %}
{% block content %}
<div class="edit-navbar">
	<a class="home" href="/"></a>
	<span>Edit Notes</span>
	<small>Last saved at {{ notes.created_at }}</small>
	<a href="/delete/{{ notes.id }}">Delete</a>
</div>
<form method="post">
	{% csrf_token %}
	<input type="text" placeholder="Enter Title" name="title" value="{{ notes.name }}" required>
	<textarea name="text" id="text" name="text" placeholder="Start from here" required>{{ notes.text }}</textarea>
	<input id="save-btn" type="submit" value="Save">
</form>
{% endblock %}